<%
var title, pageType = '';
if (page.category) {
    title = page.category;
    pageType = __("archives.category");
}
if (page.tag) {
    title = page.tag;
    pageType = __("archives.tagged");
}
if (page.archive){
    if (page.year) title = page.year + (page.month ? '/' + page.month : '');
    else title = __("archives.archives");
    pageType = date(`${page.year}-${page.month}`,`MMM YYYY`);
}
%>

<div class="archive-container">
    <h1 class="archive-title">
        <span class="page-type"><%- pageType %>:&nbsp;</span>
        <% if (!page.archive) { %>
        <span class="page-title"><%- title %></span>
        <% } %>
    </h1>
    <div class="blog-roll-container">
        <% page.posts.forEach(function(post){ %>
            <%- partial('components/post-preview', { post:post }) %>
        <% }) %>
    </div>
</div>
