<div class="contact-section">
  <img class="form-intro-img"src="https://www.explainxkcd.com/wiki/images/6/6d/BlackHat_head.png" />
  <div class="form-intro-text">Questions? collaboration? consultation? hire ??? send me an e-mail. or a message on twitter <a href="https://twitter.com/emmanuel_n_k">@emmanuel_n_k</a> </div>
  <form class="form" action="https://formspree.io/xwkbeblk" method="POST">
    <div class="section">
      <div class="input-label">your name:</div>
      <input class="input" placeholder="write your name here..." type="text" name="name" required>
    </div>
    <div class="section">
      <div class="input-label">your email:</div>
      <input class="input" placeholder="let me know how to contact you back..." type="email" name="_replyto" required>
    </div>
    <div class="section">
      <div class="input-label">your message:</div>
      <textarea class="input" placeholder="what would you like to tell me..." name="message" required></textarea>
    </div>
    <div class="section button-section">
      <button type="submit">send message</button>
    </div>
  </form>
</div>