/*
 * Theme definitions
 */
html {
  height: 100%;
}

body {
  margin: 0;
}

.theme-light {
  color: #374252;
  background: #ffffff;
}

.theme-dark {
  color: #374252;
  background: #ffffff;
}

@font-face {
  font-family: "Objektiv";
  src: url("../../fonts/objektiv-regular/ObjektivMk2_W_Rg.woff") format("woff");
}

body {
  font-family: "Objektiv", sans-serif;
}

a {
  text-decoration: none;
}

.theme-light a {
  color: #374252;
}

.theme-light a:hover {
  color: #e74c3c;
}

.theme-dark a {
  color: #007bff;
}

.theme-dark a:hover {
  color: #e74c3c;
}

p, ol {
  font-size: 1.2rem;
  text-align: justify;
}

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
}

.theme-light p, .theme-light h1, .theme-light h2, .theme-light h3, .theme-light h4, .theme-light h5, .theme-light h6 {
  color: #374252;
}

.theme-dark p, .theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6 {
  color: #374252;
}

h1 {
  font-family: "Objektiv", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Objektiv", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 1rem auto 3rem auto;
  max-width: 80rem;
  padding: 0;
}

@media screen and (max-width: 600px) {
  p, h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
  }
  p, ol {
    font-size: 0.9rem;
  }
  h1 {
    font-family: "Objektiv", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-family: "Objektiv", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 1rem auto 1rem auto;
    max-width: 40rem;
    padding: 0;
  }
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
* Flex helpers
*/
.flex-center-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.flex-top-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [header-start] minmax(min-content, max-content) [header-end main-start] auto [main-end];
      grid-template-rows: [header-start] minmax(-webkit-min-content, -webkit-max-content) [header-end main-start] auto [main-end];
      grid-template-rows: [header-start] minmax(min-content, max-content) [header-end main-start] auto [main-end];
  -ms-grid-columns: [leftMenu-start] 1fr [leftMenu-end main-start] (1fr)[8] [main-end rightMenu-start] 3fr [rightMenu-end];
      grid-template-columns: [leftMenu-start] 1fr [leftMenu-end main-start] repeat(8, 1fr) [main-end rightMenu-start] 3fr [rightMenu-end];
  height: 100vh;
  padding: 0;
}

.header {
  grid-row: header-start / header-end;
  grid-column: main-start / main-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  grid-row: main-start / main-end;
  grid-column: main-start / main-end;
}

.left-menu {
  grid-row: header-start / footer-end;
  grid-column: leftMenu-start / leftMenu-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide-left-menu .header, .hide-left-menu .content, .hide-left-menu .footer {
  -ms-grid-column: leftMenu-start;
      grid-column-start: leftMenu-start;
}

.hide-left-menu .left-menu {
  top: 0;
  bottom: 0;
  min-height: 100vh;
  position: fixed;
  left: -20rem;
}

.right-menu {
  grid-row: 1 / -1;
  grid-column: rightMenu-start / rightMenu-end;
}

.hide-right-menu .header, .hide-right-menu .content, .hide-right-menu .footer {
  grid-column-end: rightMenu-end;
}

.hide-right-menu .right-menu {
  top: 0;
  bottom: 0;
  min-height: 100vh;
  position: fixed;
  right: -100rem;
}

@media screen and (min-width: 850px) and (max-width: 1700px) {
  .container {
    -ms-grid-columns: [leftMenu-start] 1fr [leftMenu-end main-start] (1fr)[5] [main-end rightMenu-start] 6fr [rightMenu-end];
        grid-template-columns: [leftMenu-start] 1fr [leftMenu-end main-start] repeat(5, 1fr) [main-end rightMenu-start] 6fr [rightMenu-end];
  }
}

@media screen and (max-width: 850px) {
  .container {
    -ms-grid-rows: [header-start] minmax(min-content, max-content) [header-end leftMenu-start rightMenu-start] minmax(min-content, max-content) [leftMenu-end main-start] auto [main-end rightMenu-end];
        grid-template-rows: [header-start] minmax(-webkit-min-content, -webkit-max-content) [header-end leftMenu-start rightMenu-start] minmax(-webkit-min-content, -webkit-max-content) [leftMenu-end main-start] auto [main-end rightMenu-end];
        grid-template-rows: [header-start] minmax(min-content, max-content) [header-end leftMenu-start rightMenu-start] minmax(min-content, max-content) [leftMenu-end main-start] auto [main-end rightMenu-end];
    -ms-grid-columns: [main-start] 1fr [main-end rightMenu-start] 3fr [rightMenu-end];
        grid-template-columns: [main-start] 1fr [main-end rightMenu-start] 3fr [rightMenu-end];
  }
  .right-menu {
    grid-row: rightMenu-start / rightMenu-end;
    grid-column: main-start / rightMenu-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    z-index: 1;
  }
  .header {
    grid-row: header-start / header-end;
    grid-column: main-start / rightMenu-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .left-menu {
    grid-row: leftMenu-start / leftMenu-end;
    grid-column: main-start / main-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content {
    grid-column: main-start / main-end;
    grid-row: main-start / main-end;
  }
  .hide-left-menu .container {
    -ms-grid-rows: [header-start] minmax(min-content, max-content) [header-end main-start] auto [main-end];
        grid-template-rows: [header-start] minmax(-webkit-min-content, -webkit-max-content) [header-end main-start] auto [main-end];
        grid-template-rows: [header-start] minmax(min-content, max-content) [header-end main-start] auto [main-end];
  }
  .hide-left-menu .header, .hide-left-menu .content, .hide-left-menu .left-menu {
    grid-column: main-start / rightMenu-end;
  }
  .hide-right-menu .container {
    -ms-grid-columns: [main-start] 1fr [main-end rightMenu-start] 3fr [rightMenu-end];
        grid-template-columns: [main-start] 1fr [main-end rightMenu-start] 3fr [rightMenu-end];
  }
  .hide-right-menu .header, .hide-right-menu .content, .hide-right-menu .left-menu {
    grid-column: main-start / rightMenu-end;
  }
}

.header {
  padding: 1rem;
  z-index: 1;
}

.theme-light .header {
  background: #ffffff;
}

.theme-dark .header {
  background: #ffffff;
}

.header .header-icons, .header a, .header p {
  font-size: 2rem;
  cursor: pointer;
}

.theme-light .header .header-icons, .theme-light .header a, .theme-light .header p {
  color: #374252;
}

.theme-light .header .header-icons:hover, .theme-light .header a:hover, .theme-light .header p:hover {
  color: #e74c3c;
}

.theme-dark .header .header-icons, .theme-dark .header a, .theme-dark .header p {
  color: #374252;
}

.theme-dark .header .header-icons:hover, .theme-dark .header a:hover, .theme-dark .header p:hover {
  color: #e74c3c;
}

.header .header-icons {
  padding: 0 1.5rem;
}

.header .header-bottom-shadow {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.header .header-title {
  padding: 0 1.5rem;
  text-align: right;
  z-index: 100;
  background-color: transparent;
}

.header .header-title .title-text {
  font-weight: bold;
  font-size: 2rem;
}

.header .header-img {
  border-radius: 50%;
  margin-left: 0.5rem;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0.5rem 1rem;
  }
  .header .header-icons {
    padding: 0;
    font-size: 1.5rem;
  }
  .header .header-title {
    padding: 0;
  }
  .header .header-title .title-text {
    font-size: 1.3rem;
  }
  .header .header-img {
    height: 2rem;
    width: 2rem;
    padding: 0 0.5rem;
  }
}

.left-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 1rem;
  height: 100vh;
}

.theme-light .left-menu {
  background-color: #282626;
}

.theme-dark .left-menu {
  background-color: #282626;
}

.left-menu a {
  font-family: "Objektiv", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 1.8rem;
  text-decoration: none;
  margin: 0 20px;
  padding: 2rem 1rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.theme-light .left-menu a {
  color: #ffffff;
}

.theme-light .left-menu a:hover {
  color: #e74c3c;
}

.theme-dark .left-menu a {
  color: #374252;
}

.theme-dark .left-menu a:hover {
  color: #e74c3c;
}

.left-menu .menu-item {
  padding: 0;
  width: 100%;
  text-align: end;
}

.theme-light .left-menu .menu-item {
  border-bottom: 1px solid #ffffff;
}

.theme-dark .left-menu .menu-item {
  border-bottom: 1px solid #ffffff;
}

.left-menu .menu-item .menu-item-icon {
  margin-left: 1rem;
  font-size: 1.8rem;
  display: none;
}

.theme-light .left-menu .active, .theme-light
.left-menu .active a {
  background: #ffffff;
  color: #374252;
}

.theme-dark .left-menu .active, .theme-dark
.left-menu .active a {
  background: #374252;
  color: #374252;
}

.right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  height: 100vh;
}

.theme-light .right-menu {
  background-color: #282626;
}

.theme-dark .right-menu {
  background-color: #282626;
}

.right-menu .right-menu-image {
  max-width: 100%;
  padding: 0 0.5rem;
}

.theme-light .right-menu .right-menu-image {
  -webkit-filter: invert(1) invert(7%) sepia(7%) saturate(511%) hue-rotate(314deg) brightness(97%) contrast(81%);
          filter: invert(1) invert(7%) sepia(7%) saturate(511%) hue-rotate(314deg) brightness(97%) contrast(81%);
}

.theme-dark .right-menu .right-menu-image {
  -webkit-filter: invert(1) invert(7%) sepia(7%) saturate(511%) hue-rotate(314deg) brightness(97%) contrast(81%);
          filter: invert(1) invert(7%) sepia(7%) saturate(511%) hue-rotate(314deg) brightness(97%) contrast(81%);
}

.right-menu .close-right-menu {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 1rem;
}

.theme-light .right-menu .close-right-menu:hover {
  color: #e74c3c;
}

.theme-dark .right-menu .close-right-menu:hover {
  color: #e74c3c;
}

.right-menu .close-right-menu i {
  font-size: 2.5rem;
}

.theme-light .right-menu .close-right-menu i {
  color: #e0d0cf;
}

@media screen and (max-width: 1200px) {
  .left-menu .menu-item .menu-item-icon {
    margin-left: 0;
    display: block;
  }
  .left-menu .menu-item .menu-item-text {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .left-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0.2rem 0 0 0;
    height: 2.5rem;
    z-index: 1;
  }
  .left-menu a {
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .left-menu .menu-item {
    padding: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .theme-light .left-menu .menu-item {
    border-bottom: none;
  }
  .theme-dark .left-menu .menu-item {
    border-bottom: none;
  }
  .left-menu .menu-item .menu-item-icon {
    margin-left: 0;
    font-size: 1.5rem;
    display: block;
  }
  .left-menu .menu-item .menu-item-text {
    display: none;
  }
  .right-menu .close-right-menu {
    padding: 0.5rem 1rem;
  }
  .right-menu .close-right-menu i {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 364px) {
  .left-menu {
    height: 2rem;
  }
  .left-menu .menu-item .menu-item-icon {
    font-size: 1rem;
  }
}

.scroll-y {
  overflow-y: scroll;
}

.home-section .fp-tableCell {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  -ms-grid-columns: auto minmax(min-content, max-content) auto;
      grid-template-columns: auto minmax(-webkit-min-content, -webkit-max-content) auto;
      grid-template-columns: auto minmax(min-content, max-content) auto;
      grid-template-areas: none;
}

.home-section .fp-tableCell .about-me-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3 / span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  min-width: 60rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home-section .fp-tableCell .about-me-container .about-me-image {
  max-height: 25rem;
  margin: 0 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home-section .fp-tableCell .about-me-container .about-me-info {
  max-width: 35rem;
  min-width: 25rem;
}

.home-section .fp-tableCell .about-me-container .about-me-info .about-me-text {
  font-size: 1.2rem;
}

.home-section .fp-tableCell .about-me-container .about-me-info .about-me-intro {
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 0;
}

.home-section .fp-tableCell .about-me-container .about-me-info .soc-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 0;
}

.home-section .fp-tableCell .about-me-container .about-me-info .soc-media-link {
  font-size: 2rem;
  padding: 1rem 1rem 1rem 1rem;
}

.blog-section .fp-tableCell, .archive-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: none;
}

.blog-section .fp-tableCell .blog-roll-container, .archive-section .blog-roll-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  grid-column: 3 / -3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  overflow: scroll;
}

.blog-section .fp-tableCell .blog-roll-container .blog-post-preview-container, .archive-section .blog-roll-container .blog-post-preview-container {
  max-width: 60rem;
  min-width: 10rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.blog-section .fp-tableCell .blog-roll-container .blog-post-preview-container .blog-excerpt-content, .archive-section .blog-roll-container .blog-post-preview-container .blog-excerpt-content {
  padding: 0 1rem;
}

.blog-section .fp-tableCell .blog-roll-container .blog-post-preview-container .blog-excerpt-content .blog-excerpt-title, .archive-section .blog-roll-container .blog-post-preview-container .blog-excerpt-content .blog-excerpt-title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0 0.5rem 0;
}

.blog-section .fp-tableCell .blog-roll-container .blog-post-preview-container .blog-excerpt-content .blog-excerpt-date, .archive-section .blog-roll-container .blog-post-preview-container .blog-excerpt-content .blog-excerpt-date {
  padding: 0.5rem 0;
}

.blog-section .fp-tableCell .blog-roll-container::-webkit-scrollbar, .archive-section .blog-roll-container::-webkit-scrollbar {
  display: none;
}

.archive-container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / span 8;
  padding: 5rem 0;
}

.archive-container h1 {
  font-size: 2rem;
  padding: 2rem 1rem;
}

.archive-container .blog-post-preview-container {
  padding: 2rem 0;
}

@media screen and (max-width: 1200px) {
  .home-section .fp-tableCell {
    -ms-grid-rows: minmax(min-content, max-content);
        grid-template-rows: minmax(-webkit-min-content, -webkit-max-content);
        grid-template-rows: minmax(min-content, max-content);
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .home-section .fp-tableCell .about-me-container {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    min-width: 25rem;
    padding: 0 2rem;
  }
  .home-section .fp-tableCell .about-me-container .about-me-image {
    max-height: 25rem;
    width: 100%;
    -o-object-fit: none;
       object-fit: none;
    border-radius: 0;
  }
  .home-section .fp-tableCell .about-me-container .about-me-info .about-me-intro {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 600px) {
  .home-section .fp-tableCell {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: minmax(min-content, max-content);
        grid-template-rows: minmax(-webkit-min-content, -webkit-max-content);
        grid-template-rows: minmax(min-content, max-content);
    -ms-grid-columns: minmax(min-content, max-content);
        grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
        grid-template-columns: minmax(min-content, max-content);
        grid-template-areas: none;
  }
  .home-section .fp-tableCell .about-me-container {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    min-width: 20rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
  }
  .home-section .fp-tableCell .about-me-container .about-me-image {
    max-height: 10rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .home-section .fp-tableCell .about-me-container .about-me-info {
    max-width: 100%;
    min-width: 15rem;
    padding: 1rem 2rem;
  }
  .home-section .fp-tableCell .about-me-container .about-me-info .about-me-text {
    font-size: 1rem;
  }
  .home-section .fp-tableCell .about-me-container .about-me-info .about-me-intro {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 0;
  }
  .home-section .fp-tableCell .about-me-container .about-me-info .soc-media-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1rem;
  }
  .home-section .fp-tableCell .about-me-container .about-me-info .soc-media-link {
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  .blog-section .fp-tableCell .blog-roll-container, .archive-section .blog-roll-container {
    grid-column: 1 / -1;
  }
  .blog-section .fp-tableCell .blog-roll-container .blog-post-preview-container, .archive-section .blog-roll-container .blog-post-preview-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 95vw;
  }
  .blog-section .fp-tableCell .blog-roll-container .blog-post-preview-container .blog-excerpt-content, .archive-section .blog-roll-container .blog-post-preview-container .blog-excerpt-content {
    padding: 0 1rem;
  }
  .blog-section .fp-tableCell .blog-roll-container .blog-post-preview-container .blog-excerpt-content .blog-excerpt-title, .archive-section .blog-roll-container .blog-post-preview-container .blog-excerpt-content .blog-excerpt-title {
    font-size: 1.2rem;
    padding: 1rem 0 0 0;
  }
  .blog-section .fp-tableCell .blog-roll-container .blog-post-preview-container .blog-excerpt-content .blog-excerpt-date, .archive-section .blog-roll-container .blog-post-preview-container .blog-excerpt-content .blog-excerpt-date {
    padding: 0.3rem 0;
  }
  .blog-section .fp-tableCell .blog-roll-container .blog-post-preview-container .blog-excerpt-content .blog-excerpt-date .blogdate, .archive-section .blog-roll-container .blog-post-preview-container .blog-excerpt-content .blog-excerpt-date .blogdate {
    font-size: 0.8rem;
  }
  .blog-section .fp-tableCell .blog-roll-container .blog-post-preview-container .blog-excerpt-content .blog-excerpt-text, .archive-section .blog-roll-container .blog-post-preview-container .blog-excerpt-content .blog-excerpt-text {
    font-size: 0.9rem;
    padding: 0.5rem 0 3rem 0;
  }
  .blog-section .fp-tableCell .blog-roll-container::-webkit-scrollbar, .archive-section .blog-roll-container::-webkit-scrollbar {
    display: none;
  }
  .archive-container {
    grid-column: 1 / -1;
    padding: 3rem 0;
  }
  .archive-container h1 {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
  .archive-container .blog-post-preview-container {
    padding: 0;
  }
  .archive-container .blog-excerpt-text {
    padding: .5rem 0 0rem 0;
  }
}

@media screen and (max-width: 364px) {
  .home-section .fp-tableCell .about-me-container {
    padding: 0;
  }
  .home-section .fp-tableCell .about-me-container .about-me-image {
    max-height: 10rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .home-section .fp-tableCell .about-me-container .about-me-info .about-me-text {
    font-size: 0.9rem;
  }
  .home-section .fp-tableCell .about-me-container .about-me-info .about-me-intro {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 324px) {
  .home-section .fp-tableCell .about-me-container {
    padding: 0;
  }
  .home-section .fp-tableCell .about-me-container .about-me-image {
    max-height: 8rem;
  }
}

.theme-light .footer {
  background: #ffffff;
  color: #374252;
}

.theme-dark .footer {
  background: #ffffff;
  color: #374252;
}

.post-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(min-content, max-content) minmax(min-content, max-content);
      grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content);
      grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.post-section .wide {
  grid-column: 1/ -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  max-width: 100%;
}

.post-section .wide img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-height: 50vh;
}

.post-section .post-container {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/ span 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  max-width: 40rem;
  min-width: 28rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.post-section .post-container .post-title {
  font-size: 3rem;
  font-weight: 700;
  padding: 5rem 0 1rem 0;
}

.post-section .post-container .post-author {
  font-size: 1rem;
  padding: 0.5rem 0;
}

.post-section .post-container .post-category {
  font-size: 1rem;
}

.post-section .post-container .post-content {
  padding: 2rem 0 0 0;
}

.theme-light .post-section .post-container .post-content a {
  color: #007bff;
}

.theme-dark .post-section .post-container .post-content a {
  color: #007bff;
}

.theme-light .post-section .post-container .post-content a:hover {
  color: #e74c3c;
}

.theme-dark .post-section .post-container .post-content a:hover {
  color: #e74c3c;
}

.post-section .post-container .post-tags .blog-post-tag {
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  margin: 0.1rem 0.2rem 0.1rem 0;
  text-decoration: none !important;
}

.theme-light .post-section .post-container .post-tags .blog-post-tag {
  color: #ffffff;
  background: #adadad;
}

.theme-dark .post-section .post-container .post-tags .blog-post-tag {
  color: #ffffff;
  background: #adadad;
}

.theme-light .post-section .post-container .post-tags :hover {
  color: #ffffff !important;
  background: #e74c3c;
}

.theme-dark .post-section .post-container .post-tags :hover {
  color: #ffffff !important;
  background: #e74c3c;
}

.post-section .post-container .post-nav {
  display: -ms-grid;
  display: grid;
  padding: 1rem 0 5rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.post-section .post-container .post-nav .post-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
  width: 95%;
}

.theme-light .post-section .post-container .post-nav .post-nav-container {
  border: 1px #374252 solid;
}

.theme-dark .post-section .post-container .post-nav .post-nav-container {
  border: 1px #374252 solid;
}

.post-section .post-container .post-nav .post-nav-container:hover {
  cursor: pointer;
  -webkit-animation: gradiate-background;
          animation: gradiate-background;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.theme-light .post-section .post-container .post-nav .post-nav-container:hover {
  background: #374252;
}

.theme-dark .post-section .post-container .post-nav .post-nav-container:hover {
  background: #374252;
}

.post-section .post-container .post-nav .post-nav-container:hover .post-nav-icon a,
.post-section .post-container .post-nav .post-nav-container:hover .post-nav-text a {
  -webkit-animation: gradiate-text;
          animation: gradiate-text;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.theme-light .post-section .post-container .post-nav .post-nav-container:hover .post-nav-icon a, .theme-light
.post-section .post-container .post-nav .post-nav-container:hover .post-nav-text a {
  color: #ffffff;
}

.theme-dark .post-section .post-container .post-nav .post-nav-container:hover .post-nav-icon a, .theme-dark
.post-section .post-container .post-nav .post-nav-container:hover .post-nav-text a {
  color: #ffffff;
}

.post-section .post-container .post-nav .post-nav-prev {
  grid-row: 1 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-column-align: start;
      justify-self: start;
}

.post-section .post-container .post-nav .post-nav-next {
  grid-row: 1 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-column-align: end;
      justify-self: end;
}

@-webkit-keyframes gradiate-background {
  0% {
    .theme-light .post-section .post-container .post-nav {
      background: #ffffff;
      color: #374252;
    }
    .theme-dark .post-section .post-container .post-nav {
      background: #ffffff;
      color: #374252;
    }
  }
  100% {
    .theme-light .post-section .post-container .post-nav {
      background: #374252;
      color: #ffffff;
    }
    .theme-dark .post-section .post-container .post-nav {
      background: #374252;
      color: #ffffff;
    }
  }
}

@keyframes gradiate-background {
  0% {
    .theme-light .post-section .post-container .post-nav {
      background: #ffffff;
      color: #374252;
    }
    .theme-dark .post-section .post-container .post-nav {
      background: #ffffff;
      color: #374252;
    }
  }
  100% {
    .theme-light .post-section .post-container .post-nav {
      background: #374252;
      color: #ffffff;
    }
    .theme-dark .post-section .post-container .post-nav {
      background: #374252;
      color: #ffffff;
    }
  }
}

@-webkit-keyframes gradiate-text {
  0% {
    .theme-light .post-section .post-container .post-nav {
      color: #374252;
    }
    .theme-dark .post-section .post-container .post-nav {
      color: #374252;
    }
  }
  100% {
    .theme-light .post-section .post-container .post-nav {
      color: #ffffff;
    }
    .theme-dark .post-section .post-container .post-nav {
      color: #ffffff;
    }
  }
}

@keyframes gradiate-text {
  0% {
    .theme-light .post-section .post-container .post-nav {
      color: #374252;
    }
    .theme-dark .post-section .post-container .post-nav {
      color: #374252;
    }
  }
  100% {
    .theme-light .post-section .post-container .post-nav {
      color: #ffffff;
    }
    .theme-dark .post-section .post-container .post-nav {
      color: #ffffff;
    }
  }
}

.post-section .post-container .post-nav [data-tooltip]:before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  /* customizable */
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.theme-light .post-section .post-container .post-nav [data-tooltip]:before {
  color: #ffffff;
}

.theme-dark .post-section .post-container .post-nav [data-tooltip]:before {
  color: #ffffff;
}

.post-section .post-container .post-nav [data-tooltip]:hover:before {
  /* needed - do not touch */
  opacity: 0.9;
  /* customizable */
  margin-top: -50px;
  margin-left: 20px;
}

.theme-light .post-section .post-container .post-nav [data-tooltip]:hover:before {
  background: #374252;
}

.theme-dark .post-section .post-container .post-nav [data-tooltip]:hover:before {
  background: #374252;
}

.post-section .post-container .post-nav .post-nav-icon {
  height: 100%;
  font-size: 2.5rem;
}

.theme-light .post-section .post-container .post-nav .post-nav-icon {
  color: #ffffff;
  background: #374252;
}

.theme-dark .post-section .post-container .post-nav .post-nav-icon {
  color: #ffffff;
  background: #374252;
}

.post-section .post-container .post-nav .post-nav-text {
  font-size: 1.1rem;
  padding: 0 1rem;
}

.post-section .post-container .post-nav .post-nav-chevron {
  padding: 0 1rem;
}

.theme-light .post-section .post-container .post-nav .post-nav-chevron {
  color: #ffffff;
}

.theme-dark .post-section .post-container .post-nav .post-nav-chevron {
  color: #ffffff;
}

.post-section .post-sidebar {
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9/span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/span 1;
  padding: 16rem 2rem 0 2rem;
  -ms-grid-column-align: start;
      justify-self: start;
}

.post-section .post-sidebar .sidebar-widget-container {
  padding: 1rem 1rem;
}

.theme-light .post-section .post-sidebar .sidebar-widget-container {
  border-left: 1px solid #adadad;
}

.theme-dark .post-section .post-sidebar .sidebar-widget-container {
  border-left: 1px solid #adadad;
}

.post-section .post-sidebar .sidebar-widget-container .widget-title {
  font-size: 1.1rem;
  text-align: left;
  font-weight: bold;
}

.post-section .post-sidebar .sidebar-widget-container .widget > ul {
  padding: 0;
}

.post-section .post-sidebar .sidebar-widget-container .widget > ul > li {
  text-align: left;
  font-size: 0.9rem;
  list-style-type: none;
}

.theme-light .post-section .post-sidebar .sidebar-widget-container .widget > ul > li > a, .theme-light
.post-section .post-sidebar .sidebar-widget-container .widget-title {
  color: #adadad;
}

.theme-dark .post-section .post-sidebar .sidebar-widget-container .widget > ul > li > a, .theme-dark
.post-section .post-sidebar .sidebar-widget-container .widget-title {
  color: #adadad;
}

.theme-light .post-section .post-sidebar .sidebar-widget-container .widget > ul > li > a:hover {
  color: #e74c3c;
}

.theme-dark .post-section .post-sidebar .sidebar-widget-container .widget > ul > li > a:hover {
  color: #e74c3c;
}

@media screen and (max-width: 1300px) {
  .post-section {
    -ms-grid-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
        grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content);
        grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
  }
  .post-section .post-sidebar {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/span 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/span 1;
    padding: 0;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 100%;
    padding: 0 0.4rem;
  }
  .post-section .post-sidebar .sidebar-widget-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .post-section .post-container {
    grid-column: 1/ -1;
    max-width: 90vw;
    min-width: 16rem;
  }
  .post-section .post-container p, .post-section .post-container .post-author, .post-section .post-container .post-category, .post-section .post-container .post-nav-text {
    font-size: 0.9rem;
  }
  .post-section .post-container .post-author {
    padding: .3rem 0;
  }
  .post-section .post-container .post-title {
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem 0 1rem 0;
  }
  .post-section .post-container .post-content {
    padding: 1rem 0 0 0;
  }
  .post-section .post-container .post-nav {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .post-section .post-container .post-nav .post-nav-container {
    width: 100%;
  }
  .post-section .post-container .post-nav .post-nav-text {
    font-size: 0.9rem;
  }
  .post-section .post-container .post-nav .post-nav-prev {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
  }
  .post-section .post-container .post-nav .post-nav-next {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
  }
  .post-section .post-sidebar {
    grid-column: 1 /-1;
    width: 90vw;
  }
}

pre {
  font-size: 1.1rem;
  border-radius: 0.4rem;
  position: relative;
  line-height: 1.6;
}

.hidden-overflow-x {
  overflow-x: hidden;
}

.hljs {
  font-family: "Objektiv";
  padding: 0rem 1rem 2rem 1.5rem;
}

.code-caption .code-caption-label {
  font-style: italic;
  font-weight: bold;
}

.code-caption {
  text-align: right;
  display: none;
}

.code-copy-c {
  text-align: right;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
}

.theme-light .code-copy-c {
  color: #ffffff;
  background: #474949;
}

.theme-dark .code-copy-c {
  color: #ffffff;
  background: #474949;
}

.code-copy-c:hover {
  cursor: pointer;
}

.theme-light .code-copy-c:hover {
  color: #e74c3c;
}

.theme-dark .code-copy-c:hover {
  color: #e74c3c;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 600px) {
  pre {
    font-size: 0.7rem;
    border-radius: 0.4rem;
    position: relative;
    line-height: 1.2;
  }
  .hljs {
    font-family: "Objektiv";
    padding: 0 0.5rem 1rem 0.5rem;
  }
  .code-pre-block p {
    font-size: 0.7rem;
  }
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 30rem;
  padding: 1rem 2rem;
}

.contact-section .form-intro-img {
  padding: 1rem 0;
}

.theme-light .contact-section .form-intro-img {
  -webkit-filter: invert(1) invert(7%) sepia(7%) saturate(511%) hue-rotate(314deg) brightness(97%) contrast(81%);
          filter: invert(1) invert(7%) sepia(7%) saturate(511%) hue-rotate(314deg) brightness(97%) contrast(81%);
}

.theme-dark .contact-section .form-intro-img {
  -webkit-filter: invert(1) invert(7%) sepia(7%) saturate(511%) hue-rotate(314deg) brightness(97%) contrast(81%);
          filter: invert(1) invert(7%) sepia(7%) saturate(511%) hue-rotate(314deg) brightness(97%) contrast(81%);
}

.contact-section .form-intro-text {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.theme-light .contact-section .form-intro-text {
  color: #e0d0cf;
}

.contact-section .form-intro-text a {
  color: #e0d0cf;
  font-weight: 600;
}

.contact-section .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section .form .section, .contact-section .form .input-label, .contact-section .form .input {
  width: 100%;
}

.contact-section .form .section {
  padding: 1rem 0 0 0;
}

.contact-section .form .input-label {
  padding: 0 0 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.theme-light .contact-section .form .input-label {
  color: #e0d0cf;
}

.contact-section .form textarea {
  height: 15rem;
}

.contact-section .form input, .contact-section .form textarea {
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  resize: none;
  font-family: "Montserrat", sans-serif;
  border: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1rem;
  font-weight: 300;
}

.theme-light .contact-section .form input, .theme-light .contact-section .form textarea {
  color: #e0d0cf;
  border-bottom: 2px solid #e0d0cf;
  background: rgba(255, 255, 255, 0.1);
}

.theme-dark .contact-section .form input, .theme-dark .contact-section .form textarea {
  border-bottom: 2px solid;
}

.theme-light .contact-section .form input:focus, .theme-light .contact-section .form textarea:focus {
  border-bottom: 2px solid #afa4a3;
  background: rgba(255, 255, 255, 0.2);
}

.theme-dark .contact-section .form input:focus, .theme-dark .contact-section .form textarea:focus {
  border-bottom: 2px solid;
}

.contact-section .form button {
  font-size: 1.5rem;
  background: none;
  padding: 0.5rem 1rem;
  -webkit-transition: a11 0.5s;
  transition: a11 0.5s;
}

.theme-light .contact-section .form button {
  color: #e0d0cf;
  border-bottom: 2px solid #e0d0cf;
}

.theme-dark .contact-section .form button {
  border-bottom: 2px solid;
}

.theme-light .contact-section .form button:hover {
  color: #374252;
  background: #e0d0cf;
}

.theme-dark .contact-section .form button:hover {
  color: #374252;
}

.contact-section .form .button-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact-section .form input::-webkit-input-placeholder, .contact-section .form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0);
  display: none;
}

.contact-section .form input:-ms-input-placeholder, .contact-section .form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0);
  display: none;
}

.contact-section .form input::-ms-input-placeholder, .contact-section .form textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0);
  display: none;
}

.contact-section .form input::placeholder, .contact-section .form textarea::placeholder {
  color: rgba(0, 0, 0, 0);
  display: none;
}

@media screen and (max-width: 1200px) {
  .contact-section .form-intro-img {
    padding: 0;
    max-height: 8rem;
  }
}

@media screen and (max-width: 800px) {
  .right-menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact-section .form textarea {
    height: 12rem;
  }
}

@media screen and (max-width: 420px) {
  .right-menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact-section {
    max-width: 20rem;
  }
  .contact-section .form-intro-img {
    padding: 0;
    max-height: 5rem;
  }
  .contact-section .form-intro-text {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  .contact-section .form textarea {
    height: 6rem;
  }
  .contact-section .form input, .contact-section .form textarea {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .contact-section .form .input-label {
    padding: 0 0 .2rem 0;
    font-size: 1rem;
  }
  .contact-section .form button {
    font-size: 1rem;
    padding: 0rem 1rem;
  }
}

@media screen and (max-width: 324px) {
  .right-menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact-section {
    max-width: 17rem;
  }
  .contact-section .form-intro-img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */