body {
  font-family: $theme-font-family;
}

a {
  @include themify($themes) {
    color: themed('bodyLinkColor');

    &:hover {
      color: themed('bodyLinkHoverColor');
    }
  }

  text-decoration: none;
}

p, ol {
  font-size: 1.2rem;
  text-align: justify;
}

p, h1, h2, h3, h4, h5, h6 {
  @include themify($themes) {
    color: themed('bodyFontColor');
  }

  line-height: 1.6;
}

h1 {
  font-family: $theme-font-family;
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: $theme-font-family;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 1rem auto 3rem auto;
  max-width: 80rem;
  padding: 0;
}

@media screen and (max-width: 600px) {
  p, h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
  }

  p, ol {
    font-size: 0.9rem;
  }

  h1 {
    font-family: $theme-font-family;
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-family: $theme-font-family;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 1rem auto 1rem auto;
    max-width: 40rem;
    padding: 0;
  }
}


