#nav-icon {
  font-size: 2rem;
  cursor: pointer;
  margin: 0.2rem 0;
}

#nav-icon:hover {
  color: $slide-nav-link-color-hover;
}

.header-row-bottom-border-shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.header-row {
  background: $body-background-color;
  height: 5rem;
}

.nav-container {
  background: $body-background-color;
  z-index: 100;
  position: sticky;
  top: 0;
}

.blog-title {
  padding: 1.3rem 1.5rem 0.5rem 1.5rem;
  text-align: right;
  z-index: 100;
  background-color: transparent;

  h1,
  p {
    font-weight: bold;
  }
}

.site-title-img {
  border-radius: 50%;
  margin-left: 0.5rem;
  height: 64px;
  width: 64px;
  cursor: pointer;
}