/*
 * Theme definitions
 */

// // light theme colors
// $light-theme-body:#ffffff;      // color for site wide body
// $light-theme-link:#007bff;      // color for links
// $light-theme-text:#374252;      // color for site wide text
// $light-theme-hover:#e74c3c;     // hover color for sitewide links and icons
// $light-theme-sidebar:#adadad;   // for post sidebar
// $light-theme-dates:#555;        // color for secondary text like blog post dates
// $light-theme-menu:#282626;      // color for menu and footer

// // dark theme colors
// $dark-theme-body:#fff;          // color for site wide body
// $dark-theme-link:#007bff;       // color for links
// $dark-theme-text:#374252;       // color for site wide text
// $dark-theme-hover:#e74c3c;      // hover color for sitewide links and icons
// $dark-theme-sidebar:#adadad;    // for post sidebar
// $dark-theme-dates:#555;         // color for secondary text like blog post dates
// $dark-theme-menu:#282626;       // color for menu and footer

$themes: (
  light: (
    bodyBackgroundColor: #ffffff,
    bodyFontColor: #374252,
    bodyLinkColor: #374252,
    bodyLinkHoverColor: #e74c3c,
    bodyButtonFontColor: #374252,
    bodyButtonFontHoverColor: #ffffff,
    bodyButtonBackgroundColor: #ffffff,
    bodyButtonBackgroundHoverColor: #374252,
    bodyButtonBorderColor: #374252,
    bodyButtonBorderHoverColor: #374252,
    bodyFormFontColor: #374252,
    bodyFormInputBackgroundColor: #ffffff,
    bodyFormInputActiveBackgroundColor: #ffffff,
    headerBackgroundColor: #ffffff,
    headerFontColor: #374252,
    headerFontHoverColor: #e74c3c,
    headerIconColor: #374252,
    headerIconHoverColor: #e74c3c,
    footerBackgroundColor: #282626,
    footerFontColor: #ffffff,
    footerFontHoverColor: #e74c3c,
    footerIconColor: #ffffff,
    footerIconHoverColor: #e74c3c,
    menuBackgroundColor: #282626,
    menuItemBackgroundColor: #282626,
    menuItemBackgroundHoverColor: #e74c3c,
    menuItemFontColor: #ffffff,
    menuItemFontHoverColor: #e74c3c,
    menuItemActiveFontColor: #374252,
    menuItemActiveBackgroundColor: #ffffff,
    menuItemActiveFontHoverColor: #e74c3c,
    menuItemActiveBackgroundHoverColor: #374252,
    menuItemBorderColor: #ffffff,
    menuItemBorderHoverColor: #e74c3c,
    menuImageFilterInvert: invert(1) invert(7%) sepia(7%) saturate(511%) hue-rotate(314deg) brightness(97%) contrast(81%),
    menuImageFilterInvertBackgroundColor: #282626,
    menuFormFontColor: #e0d0cf,
    menuFormFontActiveColor:#afa4a3,
    menuFormBackgroundColor: rgba(255, 255, 255, 0.1),
    menuFormBackgroundActiveColor: rgba(255, 255, 255, 0.2),
    postPreviewFontColor: #374252,
    postPreviewLinkColor: #007bff,
    postPreviewLinkHoverColor: #e74c3c,
    postPreviewDateColor: #555555,
    postPreviewDateHoverColor: #555555,
    postPreviewMoreColor: #374252,
    postPreviewMoreHoverColor: #e74c3c,
    postPreviewCategoryColor: #374252,
    postPreviewCategoryHoverColor: #e74c3c,
    postPreviewTagColor: #adadad,
    postPreviewTagHoverColor: #e74c3c,
    postContentFontColor: #374252,
    postContentLinkColor: #007bff,
    postContentLinkHoverColor: #e74c3c,
    postContentDateColor: #555555,
    postContentDateHoverColor:  #555555,
    postContentCategoryColor: #374252,
    postContentCategoryHoverColor: #e74c3c,
    postContentTagColor: #ffffff,
    postContentTagBackgroundColor: #adadad,
    postContentTagHoverColor: #e74c3c,
    postContentNavFontColor: #374252,
    postContentNavFontHoverColor: #ffffff,
    postContentNavIconColor: #ffffff,
    postContentNavIconBackgroundColor: #374252,
    postContentNavIconHoverColor: #374252,
    postContentNavBackgroundColor: #ffffff,
    postContentNavBackgroundHoverColor: #374252,
    postSidebarFontColor: #adadad,
    postSidebarLinkColor: #adadad,
    postSidebarLinkHoverColor: #e74c3c,
    codeCopyIconColor:#ffffff,
    codeCopyIconHoverColor:#e74c3c,
    preBackgroundColor: #474949,
  ),
  dark: (
    bodyBackgroundColor: #ffffff,
    bodyFontColor: #374252,
    bodyLinkColor: #007bff,
    bodyLinkHoverColor: #e74c3c,
    bodyButtonFontColor: #374252,
    bodyButtonFontHoverColor: #ffffff,
    bodyButtonBackgroundColor: #ffffff,
    bodyButtonBackgroundHoverColor: #374252,
    bodyButtonBorderColor: #374252,
    bodyButtonBorderHoverColor: #374252,
    bodyFormFontColor: #374252,
    bodyFormInputBackgroundColor: #ffffff,
    bodyFormInputActiveBackgroundColor: #ffffff,
    headerBackgroundColor: #ffffff,
    headerFontColor: #374252,
    headerFontHoverColor: #e74c3c,
    headerIconColor: #374252,
    headerIconHoverColor: #e74c3c,
    footerBackgroundColor: #282626,
    footerFontColor: #ffffff,
    footerFontHoverColor: #e74c3c,
    footerIconColor: #ffffff,
    footerIconHoverColor: #e74c3c,
    menuBackgroundColor: #282626,
    menuItemBackgroundColor: #282626,
    menuItemBackgroundHoverColor: #e74c3c,
    menuItemFontColor: #374252,
    menuItemFontHoverColor: #e74c3c,
    menuItemActiveFontColor: #374252,
    menuItemActiveBackgroundColor: #374252,
    menuItemActiveFontHoverColor: #e74c3c,
    menuItemActiveBackgroundHoverColor: #374252,
    menuItemBorderColor: #ffffff,
    menuItemBorderHoverColor: #e74c3c,
    menuImageFilterInvert: invert(1) invert(7%) sepia(7%) saturate(511%) hue-rotate(314deg) brightness(97%) contrast(81%),
    menuImageFilterInvertBackgroundColor: #282626,
    postPreviewFontColor: #374252,
    postPreviewLinkColor: #007bff,
    postPreviewLinkHoverColor: #e74c3c,
    postPreviewDateColor: #555555,
    postPreviewDateHoverColor: #555555,
    postPreviewMoreColor: #374252,
    postPreviewMoreHoverColor: #e74c3c,
    postPreviewCategoryColor: #374252,
    postPreviewCategoryHoverColor: #e74c3c,
    postPreviewTagColor: #adadad,
    postPreviewTagHoverColor: #e74c3c,
    postContentFontColor: #374252,
    postContentLinkColor: #007bff,
    postContentLinkHoverColor: #e74c3c,
    postContentDateColor: #555555,
    postContentDateHoverColor:  #555555,
    postContentCategoryColor: #374252,
    postContentCategoryHoverColor: #e74c3c,
    postContentTagColor: #ffffff,
    postContentTagBackgroundColor: #adadad,
    postContentTagHoverColor: #e74c3c,
    postContentNavFontColor: #374252,
    postContentNavFontHoverColor: #ffffff,
    postContentNavIconColor: #ffffff,
    postContentNavIconBackgroundColor: #374252,
    postContentNavIconHoverColor: #374252,
    postContentNavBackgroundColor: #ffffff,
    postContentNavBackgroundHoverColor: #374252,
    postSidebarFontColor: #adadad,
    postSidebarLinkColor: #adadad,
    postSidebarLinkHoverColor: #e74c3c,
    codeCopyIconColor:#ffffff,
    codeCopyIconHoverColor:#e74c3c,
    preBackgroundColor: #474949,
  )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}