<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <div class="widget-title"><%= __('post.categories') %><i class="fas fa-bookmark fa-fw" aria-hidden="true"></i></div>
    <div class="widget">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
