<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <div class="widget-title"><i class="fas fa-bookmark fa-fw" aria-hidden="true"></i>&nbsp;<%= __('post.categories') %></div>
    <div class="widget">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
