<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <div class="widget-title"><i class="fas fa-clock fa-fw" aria-hidden="true"></i>&nbsp;<%= __('post.recent_posts') %></div>
    <div class="widget">
      <ul>
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li>
            <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>