<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <div class="widget-title"><i class="fas fa-tag fa-fw" aria-hidden="true"></i>&nbsp;<%= __('post.tags') %></div>
    <div class="widget">
      <%- list_tags({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
