<!-- LEFT SIDE MENU -->
<div class="sliding-menu flex-center-wrapper flex-column left-menu">
    <!-- <div class="starry-sky">
        <div class='stars'></div>
        <div class='stars2'></div>
        <div class='stars3'></div>
    </div> -->
    <ul id="left-menu-items" class="left-menu-li-items">
        <li data-menuanchor="home">
            <a href="<%- config.url %>#home">home</a>
        </li>
        <li data-menuanchor="blog">
            <a href="<%- config.url %>#blog">blog</a>
        </li>
        <!-- <li data-menuanchor="projects">
            <a href="<%- config.url %>#projects">projects</a>
        </li> -->
        <li data-menuanchor="contact">
            <a href="<%- config.url %>#contact">contact</a>
        </li>
    </ul>
    <!--<canvas id="network-nodes-canvas"></canvas>-->
</div><!--Nav menu ends here -->


