.header {
  @include themify($themes) {
    background: themed('headerBackgroundColor');
  }

  padding: 1rem;
  z-index: 1;

  .header-icons, a, p {
    @include themify($themes) {
      color: themed('headerIconColor');

      &:hover {
        color: themed('headerIconHoverColor');
      }
    }

    font-size: 2rem;
    cursor: pointer;
  }

  .header-icons {
    padding: 0 1.5rem;
  }

  .header-bottom-shadow {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }

  .header-title {
    padding: 0 1.5rem;
    text-align: right;
    z-index: 100;
    background-color: transparent;

    .title-text {
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .header-img {
    border-radius: 50%;
    margin-left: 0.5rem;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0.5rem 1rem;

    .header-icons {
      padding: 0;
      font-size: 1.5rem;
    }

    .header-title {
      padding: 0;

      .title-text {
          font-size: 1.3rem;
        }
    }

    .header-img {
      height: 2rem;
      width: 2rem;
      padding: 0 0.5rem;
    }
  }
}

