<h4 class="hide-sidebar"> Show archive<i class="fa fa-caret-down" style="padding:0 0.5rem;" aria-hidden="true"></i></h4>
<div class="sidebar-widget-container">
    <%- partial('_widget/recent_posts') %>
    <%- partial('_widget/archive') %>
    <%- partial('_widget/category') %>
    <%- partial('_widget/tag') %>
</div>
