// Define main colors
$color-1:#374252; // color for site wide text
$color-2:#fff; // color for site wide body
$color-3:#e74c3c; // color for sitewide links
$color-4:#555; //color for secondary text like blog post dates
$color-5:#282626;
// $starry-sky-color:radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
$starry-sky-color:$color-5;

// color definitions

// color 1
$body-font-color:$color-1;

// color 2
$body-background-color:$color-2;
$slide-nav-link-color:$color-2;

// color 3
$main-link-color:$color-3;
$slide-nav-link-color-hover:$color-3;
$seotitlelink-color:$color-3;

// color 4
$blogdate-color:$color-4;


// font family
$theme-font:"Objektiv";
$theme-font-family:"Objektiv", sans-serif;
$font-family-url: "../fonts/objektiv-regular/ObjektivMk2_W_Rg.woff";
$font-family-format:"woff";
