body {
  font-family: $theme-font-family;
  font-size: 10px;
}

a {
  text-decoration: none !important;
  color: $body-font-color;
}

a:hover {
  color: $main-link-color;
}

p,
ol {
  font-size: 1.2rem;
  text-align: justify;
}

p a {
  color: $post-link-color;
}

h1 {
  color: #374252;
  font-family: $theme-font-family;
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.blog-title {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  color: #374252;
  font-family: $theme-font-family;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 1rem auto 3rem auto;
  max-width: 80rem;
  padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.6;
}
