<!-- LEFT SIDE MENU -->
<div class="left-menu">
    <div class="menu-item hvr-grow" data-menuanchor="home">
        <a href="<%- config.url %>#home"><span class="menu-item-text">home</span><i class="fas fa-home menu-item-icon" aria-hidden="true"></i></a>
    </div>
    <div class="menu-item hvr-grow"  data-menuanchor="blog">
        <a href="<%- config.url %>#blog"><span class="menu-item-text">blog</span><i class="fas fa-newspaper menu-item-icon" aria-hidden="true"></i></a>
    </div>
    <!-- <div class="menu-item"  data-menuanchor="projects">
        <a href="<%- config.url %>#projects">projects</a>
    </div> -->
    <!-- <div class="menu-item hvr-grow"  data-menuanchor="contact">
        <a href="<%- config.url %>#contact"><span class="menu-item-text">contact</span><i class="fas fa-address-card menu-item-icon" aria-hidden="true"></i></a>
    </div> -->
    <!--<canvas id="network-nodes-canvas"></canvas>-->
</div><!--Nav menu ends here -->


