<div class="right-menu">
  <div class="close-right-menu"><i class="fas fa-times-circle"></i></div>
  <img style="display:none" class="right-menu-image" src="<%= _.sample(config.dstkd.xkcd_images) %>"/>
  <%- partial('_partial/pages/contact') %>
</div>